@font-face {
font-family:myFont;
src:url('font/GE_SS_Two_Bold.otf')
}
@font-face {
font-family:myFont2;
src:url('font/DroidKufi-Regular.ttf')
}


body {
}


.navbar-default {
    background-color: cadetblue;
    border-color: #e7e7e7;
    
 
}
.navbar-default .navbar-nav>li>a {
    color: #e7e7e7;
    font-family:myFont;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.nav>li {
    position:relative;
    display:block;
    height:75px;
    padding-top:10px;
}
.myfooter{
    background-color:cornflowerblue;
    padding-top:10px;
    font-family:myFont;
    text-align:justify;
    height: 200px;
    position:relative;
   
    }
.subfooter{
    background-color:cadetblue;
    color:white;
    padding:10px;
    text-align:center;
    }

.myfooter a,p {
color:azure;
}

.myfooter h3, ul,p {
margin-bottom:20px;
list-style-type:none;
font-family:myFont2;
}
.set_color{

    color:black;
}


#searchName {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    background-image: url('../Images/search.jpg');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 12px 20px 12px 12px;
    margin-top: -5px;
    transition: width 0.4s ease-in-out;
}
    #searchName:focus {
    width:100%;
    }


